

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #770737;
}
h4{
  text-transform: capitalize;
  line-height: 1.5rem;
  margin-bottom: 0.75rem;

}
p{
  color: #808080;
}
/* section{
  width: 90vw;
  margin:  0 auto;
  max-width: 1170px;
} */
  main{
  /* min-height: 90vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}  
  .container{
  width: 90vw;
  margin: 5rem 0;
  max-width: 450px;
  background-color: #ffff;
  border-radius: 3px;
  padding: 1.5rem 0;

}  
.container h1{
  font-weight: normal;
  text-transform: none;
  margin-bottom: 2rem;
  text-align: center;
}

 article{
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-left: 1.5rem;
  
  

} 

 img{
  width: 60%;
  height: 80%;
  object-fit: cover;
  border-radius: 60%;
  box-shadow: 0px 5px 15px;
}

.person h4{
  margin-bottom: 0.35rem;
}
.person p{
  margin-bottom: 0;
}

.container button{
  color: #ffff;
  display: block;
  width: 80%;
  border-color: transparent;
  background-color: #F28AB2;
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  border-radius: 4px;
  cursor: pointer;
}